<header class="navbar bg-primary text-white flex justify-between items-center">
  <div class="flex gap-4">
    <!-- Logos -->
    <div class="size-[64px]">
      <img class="object-cover" src="assets/images/logo.png" alt="CSVU-Logo" />
    </div>

    <div class="flex flex-col">
      <span class="text-white text-sm font-bold">
        CAVITE STATE UNIVERSITY - TRECE MARTIRES CITY CAMPUS
      </span>
      <span class="text-white text-sm font-medium">
        INTERNALIZATION LINKAGE AND COLLABORATION
      </span>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="flex-none">
    <ul class="menu menu-horizontal text-base font-bold">
      <li><a>Home</a></li>
      <li><a>About</a></li>
      <li><a>Partnerships</a></li>
      <li><a>Contact</a></li>
      <li class="dropdown dropdown-bottom dropdown-end">
        <div tabindex="0" role="button" class="">Login</div>
        <ul
          tabindex="0"
          class="dropdown-content w-[200px] z-[1] menu p-2 bg-[#137308] rounded-[5px] mt-5">
          <li><a>Students</a></li>
          <li><a>External partners</a></li>
          <li><a>Admin</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
